body {
background:#E1E0E1; 
}

#container {  
width:90%; 
min-width:300px;
margin:0 auto; 
position:relative;
background-color:#FFF;
height:100%;
}

/*----------header-----*/
header {
	position:relative;
}
#barrefixe{
height:50px;
left:0;
top:0;
position:fixed; 
width:100%; 
background-color:black; 
color:#FFF;
z-index:500;
}
			  
#devis, #adresse, img[src="images/telephone.png"], #navigation, #container footer, h2 br{
	display:none;
}		  

#navigation-Smart {   
text-align:right; 
margin-top:0px;
}
#navigation-Smart li {   
	list-style:none;
}
#navigation-Smart img {
	display: inline-block;
	line-height: 50px;
	margin-right:50px;
}
#menu-smartphone {
	background:#333;
	text-align:left;
	left: -999em;
}

#menu-smartphone li {
	float:right;
	width:30%;
	min-width:150px;
	background:#333;
	list-style:none;
	padding:10px 5%;
	margin-left:20%;
}
#menu-smartphone a {
	color:#FFF;
}

#menu-smartphone a:hover {
text-decoration:underline;
}
 
#navigation-Smart li:hover ul, #navigation-Smart li li:hover ul, #navigation-Smart li.sfhover ul, #navigation-Smart li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}
#navigation-Smart>li:hover {
	background:rgba(102,102,102,0.4);
}
#barrefixe ul {   
position:relative;
}
#tel {
font-size:35px;
position:absolute;
right:20px;
top:100px;
color:black;
}
#tel a {
	color:black;
}
#fax {
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 140px;
	text-align: right;
	color:black;
}		
img[title="logo sart Sorais"] {
float:left; 
margin-top:50px; 
margin-left:70px;
}


/*---------corps-----*/
.article {  
display:inline-block;
width:100%; 
margin-top:30px;
margin-bottom:10px;
position:relative;
}
.article div {
width:100%;
height:200px;
box-shadow:1px 1px 2px 1px gray;
}
h2 {
color:#FFF;
display:inline-block;
font-size:18px;
padding-left:5%;
width:95%;
height:35px;
line-height:38px;
}
.rubrique1 {
background-image:url(../images/spriteTablette.png);
background-repeat:no-repeat;
}
.rubrique2 {
background-image:url(../images/spriteTablette.png);
background-position:0px -200px;
background-repeat:no-repeat;
position:relative;
}
.rubrique3 {
background-image:url(../images/spriteTablette.png);
background-position:0px -400px;
background-repeat:no-repeat;
position:relative;
right:0;
}
.article .rubrique1:hover {
background-image:url(../images/spriteTablette.png);
background-position:-700px 0px;
}
.article .rubrique2:hover {
background-image:url(../images/spriteTablette.png);
background-position:-700px -200px;
}
.article .rubrique3:hover {
background-image:url(../images/spriteTablette.png);
background-position:-700px -400px;
}
.article a[href="iframe-definition.html"] {
	position:absolute;
	bottom:25px;
	right:10px;
	background-color:rgba(102,153,0,0.7);  
	text-align:center; 
	font-size:12px;
	width:100px;
	height:25px;
	line-height:25px;
	border-radius:80px;
	color:#FFF;
}
.article a[href="iframe-definition.html"]:hover {
	background:rgba(102,102,102,0.9);
}
<!------- page presentation--------->

.presentation {
display:inline-block;
height:480px; 
padding-top:2%;
margin-bottom:2%;
position:relative;
}

.presentation div {
width:80%;
padding:10%;;
float:left;
}

.presentation div p {
font-size:14px;
}
.presentation div h5 {
font-size:20px;
color:#DA2513;
margin-bottom:10px;
}

.presentation img{
display:none;
}

.engagements {
font-size:16px;
width:90%;
position:relative;
bottom:0;
left:-0.5%;
background-color:#DA2513;
color:#FFF;
padding:5px 20px 10px 20px;
list-style:none;
}

.engagements li:nth-child(1) { 
font-size:20px;
margin-bottom:10px;
}

<!------- page maisons neuves--------->

.neuf {
	width:100%;
	height:200px;
	position:relative;
	margin:auto;
}

.text {
z-index:150;
background-color:#FFF;
position:relative;
clear:both;
padding:30px 0;
}

.text ul {
	margin-left:70px;
}

h3 { 
font-size:20px;
color:#FFF;
padding:5px 25px 5px 70px;
height:50px;
font-weight:normal;
margin-bottom:30px;
}

h3:hover {
color:#CCC;
}

.left-ribbon {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 105%;
background:#C30;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
 
.left-ribbon:before, .left-ribbon:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
 
.left-ribbon:before {
display: none;
right: -25px;
top: 50px;
border-width: 10px;
border-color:  transparent transparent #603 #603;
}
 
.left-ribbon:after {
display: block;
left: 0px;
top: 60px;
border-width: 10px;
border-color: #603 #603 transparent transparent ;
}
 

.bx-wrapper {
	width:100%;
	min-width:100%;
	padding: 0;
	*zoom: 1;
	float:left;
	position:relative;
	top:10px;
	right:0;
}

#container .bx-wrapper .bx-prev {
	left: 2%;
	background: url(../images/controls.png)no-repeat 0 -32px;
}

#container .bx-pager-item {
	text-align:center;
}

<!------- Rénovations--------->

.renovation {
	width:100%;
	height:200px;
	background:#CCC;
	position:relative;
	margin:auto;
}

.h3Renov {
	line-height: 50px;
}

.left-ribbon-renovation {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 105%;
background:#630;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
 
.left-ribbon-renovation:before, .left-ribbon-renovation:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
 
.left-ribbon-renovation:before {
display: none;
right: -25px;
top: 50px;
border-width: 10px;
border-color:  transparent transparent #303 #303;
}
 
.left-ribbon-renovation:after {
display: block;
left: 0px;
top: 60px;
border-width: 10px;
border-color: #303 #303 transparent transparent ;
}

<!------- Éco-construction--------->
.eco-construction {
	width:100%;
	height:200px;
	background:#CCC;
	position:relative;
	margin:auto;
}

.left-ribbon-eco {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 105%;
background:#79A614;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
 
.left-ribbon-eco:before, .left-ribbon-eco:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
 
.left-ribbon-eco:before {
display: none;
right: -25px;
top: 50px;
border-width: 10px;
border-color:  transparent transparent #40525a #40525a;
}
 
.left-ribbon-eco:after {
display: block;
left: 0px;
top: 60px;
border-width: 10px;
border-color: #40525a #40525a transparent transparent ;
}


/*------------Réferences---------------*/
.neuf p{
	padding:5px 0px 5px 40px;
}
/*------------Mentions légales---------------*/
.mentions-legales {
width:86%; 
margin:0 auto;
padding:2%;
overflow:hidden;
position:relative;
font-size:15px;
}
/*-------------page contact----------*/
.contact {
display:inline-block;
width:100%; 
background-color:#FFF;
position:relative;
padding:2%;
}