@charset "UTF-8";
/*contenu de la feuille de styles reset.css
à modifier ou remplacer par une autre si besoin
par exemple reset.css ou normalize.css
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu Condensed', sans-serif;
	background:#E1E0E1; 
	}
ul, ol, dl {padding: 0;margin: 0;}
h1, h2, h3, h4, h5, h6, p {margin-top: 0;}
a img {border: none;margin:0; padding:0;}
* {outline:none;}
header, section, footer, aside, nav, article, figure {display: block;}
a {text-decoration:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;} 
/*annule les guillemets pa défaut des navigateurs*/

.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
}

#container .fancybox fancybox.iframe {
	z-index:1000;
}

/**************************
* ÉCRANS 
**************************/

#container {  
width:80%; 
min-width:850px;
max-width:915px;
margin:0 auto; 
position:relative;
border-radius:10px;
}

/*----------header-----*/
#barrefixe {
position:fixed; 
left:0; 
width:100%; 
background-color:black; 
color:#FFF;
z-index:200;
}

#barrefixe ul {   
display:none; 
}
			  
#devis {
background-color: black;  
text-align:center; 
border-radius:20px;
position:fixed; 
right:100px;
color:#FFF; 
font-size:15px;
padding-left:15px; 
padding-right:15px; 
padding-bottom:5px; 
padding-top:10px;
min-width:100px;
z-index:200;
}		
a:hover{
	color:#FFF;
	text-decoration:none;
	}
header {
background-color:#FFF;
position:relative;
width:100%;
}
		
img[title="logo sart Sorais"] {
float:left; 
margin-top:20px; 
margin-left:30px;
}

#adresse {
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 40px;
	text-align: right;
}

#tel {
font-size:35px;
position:absolute;
right:20px;
top:75px;
color:black;
}
#fax {
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 114px;
	text-align: right;
	color:black;
}

.right-ribbon {
display: block;
position:absolute;
top: 140px;
left: 0%;
width: 102.5%;
background: #74AA24;
box-shadow:1px 1px 1px 1px #CCCCCC;
}
 
.right-ribbon:before, .right-ribbon:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
.right-ribbon:before {
display: none;
left: 0;
top: 50px;
border-width: 10px;
border-color: #40525a #40525a transparent transparent;
}
 .right-ribbon:after {
display: block;
right: 0;
top: 30px;
border-width: 10px;
border-color: #40525a transparent transparent #40525a;
}
header a {
text-decoration:none;
color:#FFF;
}		
#navigation {   
z-index:100;
height: 30px; 
text-align:right; 
}
#navigation li {
	display: inline-block;
	line-height: 30px;
}
#navigation li a { 
color:#FFF;  
text-decoration:none;
padding:0 30px;
border-left:1px solid #FFF;
font-size:16px;
}
.onglets {	
position:absolute;
background-color:#FFF;
padding:5px;
width:100px;
box-shadow:1px 1px 4px 1px #CCCCCC;
left: -999em;
}
.onglets li {
display:block;
border-top : 1px solid #CCCCCC;
font-size:14px;
width:100%;
padding-top:5px;
padding-bottom:8px;
text-align:left;
}
.onglets li:nth-child(1) {
border:none;
}
#navigation .onglets .interligne {
	line-height:20px;
}
#navigation .onglets li a {
	font-size: 14px;
	color: #666;
	position: left;
	padding-left: 0;
	padding-right: 0;
}
#navigation .onglets li a[href="iframe-definition.html"] {
	color: #79A614;
	font-weight:bolder;
}
#navigation .onglets li a:hover {
text-decoration:underline;
}
#navigation li:hover ul ul, #navigation li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li.sfhover ul, #navigation li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}
#navigation>li:hover {
	background:rgba(102,102,102,0.5);
}
/*---------corps-----*/
.article {  
display:inline-block;
width:100%; 
height:389px; 
overflow:hidden;
margin-top:30px;
padding-top:10px;
margin-bottom:10px;
position:relative;
}
.article div {
display:inline-block;
width:30%;
height:370px;
border-radius:0 0 10px 0;
box-shadow:1px 1px 2px 1px gray;
float:left;
}
h2 {
color:#FFF;
display:inline-block;
font-size:14px;
padding-left:5%;
padding-top:5px;
padding-bottom:5px;
margin-top:20px;
width:95%;
height:35px;
line-height:18px;
}
.rubrique1 {
background-image:url(../images/Sprite-couv.png);
background-repeat:no-repeat;
}
.rubrique2 {
background-image:url(../images/Sprite-couv.png);
background-position:-450px 0px;
background-repeat:no-repeat;
position:absolute;
margin-left:5%;
}
.rubrique3 {
background-image:url(../images/Sprite-couv.png);
background-position:-850px 0px;
background-repeat:no-repeat;
position:absolute;
right:0;
}
.article .rubrique1:hover {
background-image:url(../images/Sprite-couv.png);
background-position:0px -400px;
}
.article .rubrique2:hover {
background-image:url(../images/Sprite-couv.png);
background-position:-450px -400px;
}
.article .rubrique3:hover {
background-image:url(../images/Sprite-couv.png);
background-position:-850px -400px;
}
.article a[href="iframe-definition.html"] {
	position:absolute;
	bottom:25px;
	right:10px;
	background-color:rgba(102,153,0,0.7);  
	text-align:center; 
	font-size:12px;
	width:100px;
	height:25px;
	line-height:25px;
	border-radius:80px;
	color:#FFF;
}
.article a[href="iframe-definition.html"]:hover {
	background:rgba(102,102,102,0.9);
}
/*----------footer-----*/
footer {
color:black; 
clear:both; 
height:90px;
}
#menu-footer {
width:90%;
font-size:14px
}
#menu-footer th a {
	color: black;
	font-weight:normal;
	text-align: center;
	display: block;
}
#menu-footer th {
	border-right:1px gray dotted;
}
#menu-footer th:last-child {
	border-right:none;
}
#menu-footer th a:hover {
	background:rgba(102,102,102,0.5);
}
img[src="images/cartefce.svg"] {
position:absolute;
right:15px;
bottom:5px;
}
/*----------page neuf-----*/
.neuf {  
display:inline-block;
width:100%;
margin-top:30px;
margin-bottom:10px;
position:relative;
border-radius:0 0 0 10px;
background:#FFF;
padding-bottom:10px;
}
.text {
width:34%;
z-index:150;
background-color:#FFF;
position:relative;
float:left;
}
h3 { 
font-size:18px;
color:#FFF;
padding:5px 25px 0px 60px;
height:60px;
font-weight:normal;
margin-bottom:30px;
}
.h3Neuf {
	line-height:50px;
}
h3:hover {
color:#CCC;
text-decoration:none;
}
.left-ribbon {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 105%;
background:#C30;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
.left-ribbon:before, .left-ribbon:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
.left-ribbon:before {
display: none;
right: -25px;
top: 60px;
border-width: 10px;
border-color:  transparent transparent #603 #603;
}
.left-ribbon:after {
display: block;
left: 0px;
top: 60px;
border-width: 10px;
border-color: #603 #603 transparent transparent ;
}

.text li {
margin-left:70px;
font-size:16px;
line-height:25px;
position:relative;
}
.carousel {
	position: relative;
	float: right;
	width: 64%;
	max-width: 600px;
	top:0;
}

/*--------page rénovation----------*/
.renovation {  
display:inline-block;
width:100%;
margin-top:30px;
margin-bottom:10px;
position:relative;
border-radius:0 0 0 10px;
background:#FFF;
padding-bottom:10px;
}
.left-ribbon-renovation {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 105%;
background:#630;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
.left-ribbon-renovation:before, .left-ribbon-renovation:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
.left-ribbon-renovation:before {
display: none;
right: -25px;
top: 60px;
border-width: 10px;
border-color:  transparent transparent #303 #303;
}
.left-ribbon-renovation:after {
display: block;
left: 0px;
top: 60px;
border-width: 10px;
border-color: #303 #303 transparent transparent ;
}
/*--------page eco-construction----------*/
.eco-construction {  
 display:inline-block;
width:100%;
margin-top:30px;
margin-bottom:15px;
position:relative;
border-radius:0 0 0 10px;
background:#FFF;
padding-bottom:10px;
}
.eco-construction .text li {
line-height:23px;
}
.h3Hover {
	line-height: 50px;
}
.left-ribbon-eco {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 105%;
background:#79A614;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
.left-ribbon-eco:before, .left-ribbon-eco:after {
content: '';
display: block;
position: absolute;
border-style: solid;
}
.left-ribbon-eco:before {
display: none;
right: -25px;
top: 60px;
border-width: 10px;
border-color:  transparent transparent #40525a #40525a;
}
.left-ribbon-eco:after {
display: block;
left: 0px;
top: 60px;
border-width: 10px;
border-color: #40525a #40525a transparent transparent ;
}
/*-------------page présentation-----------*/
.presentation {
display:inline-block;
width:100%; 
overflow:hidden;
padding-top:2%;
margin-bottom:2%;
background-color:#FFF;
position:relative;
}
.presentation div {
width:45%;
padding:15px 10px 30px 30px;
float:left;
}
.presentation div p {
font-size:14px;
line-height:18px;
}
.presentation div h5 {
font-size:20px;
color:#DA2513;
}
.presentation img[src="images/presentation.jpg"], img[src="images/presentation2.jpg"]{
width:50%;
float:right;
}
.engagements {
font-size:14px;
width:150px;
position:absolute;
top:17px;
right:0px;
background-color:#DA2513;
color:#FFF;
padding:10px;
list-style:none;
}
.engagements li:nth-child(1) { 
font-size:20px;
margin-bottom:10px;
}
/*------------Situation----------------*/
#mapCanvas {
	box-shadow:10px 10px 20px 5px #333;
	display:none;
	width:100%; 
	height:100%; 
	min-width:850px; 
	min-height:500px;
	z-index:900;
}
#close {
	display:none;
	background-image:url(../images/fancybox_sprite.png) no-repeat;
	width:36px;
	height:36px;
	background-position: -0px -0px;
	position:absolute;
	z-index:950;
}
/*------------Réferences---------------*/
.neuf p{
	padding:5px 10px 5px 40px;
	font-size:14px;
	line-height:18px;
}
.carousel-caption{
	position: absolute;
	right: 20px;
	bottom: 30px;
	left: 20px;
	z-index: 10;
	padding: 0px;
	padding: 0px;
}
.carousel-indicators {
	bottom: 10px;
}
/*-------------page mentions légales----------*/
.mentions-legales {
width:80%; 
overflow:hidden;
padding:10%;
margin-bottom:2%;
background-color:#FFF;
position:relative;
font-size:15px;
}
.mentions-legales h5 {
font-size:20px;
color:#666;
padding:0;
}
.mentions-legales .bloc{
	margin-top:20px;
}
.mentions-legales b{
	font-size:17px;
	font-weight:bold;
	line-height:20px;
}
.heading{
	font-style:italic;
}
.mentions-legales ol {
	padding:10px;
}
/*-------------page contact----------*/
.contact {
width:80%; 
background-color:#FFF;
position:relative;
padding:10%;
margin-bottom:2%;
}


/**************************
* IPADS (PAYSAGES)
**************************/
@media only screen
and (max-width: 1024px)
and (orientation: landscape) {
#container {  
width:85%; 
min-width:770px;
max-width:915px;
margin:0 auto; 
position:relative;
border-radius:10px;
}
.article div {
width:33%;
}

.rubrique2 {
position:absolute;
margin-left:0.5%;
}
#tel a, #fax a {
	color:#000;
}

.presentation img[src="images/presentation.jpg"], .presentation img[src="images/presentation2.jpg"]{
width:48%;
float:right;
}
img[src="images/presentation.jpg"] {
	margin-top:120px;
}
.engagements {
font-size:16px;
width:43%;
float:right;
background-color:#DA2513;
color:#FFF;
padding:2.5%;
margin:0;
list-style:none;
}

.engagements li:nth-child(1) { 
font-size:20px;
margin-bottom:10px;
}

.carousel-caption{
	position: absolute;
	right: 10px;
	bottom: 20px;
	left: 10px;
	z-index: 10;
	padding: 0px;
	padding: 0px;
}
}

/**************************
* IPADS (PORTRAIT) 
**************************/
@media only screen
and (max-width: 768px)
and (orientation: portrait) {
#container {  
width:90%; 
min-width:300px;
margin:0 auto; 
position:relative;
background-color:#FFF;
height:100%;
}
/*----------header-----*/

#barrefixe{
height:50px;
left:0;
top:0;
position:fixed; 
width:100%; 
background-color:black; 
color:#FFF;
z-index:500;
}
			  
#devis, #adresse, img[src="images/telephone.png"], #navigation, #container footer, h2 br{
	display:none;
}		  
#barrefixe ul{
	display:block;
}
#navigation-Smart{
	text-align:right;
}
#tel a, #fax a {
	color:#000;
}
#navigation-Smart ul {   
	margin-top:0px;
}
#navigation-Smart li {   
	list-style:none;
	z-index:600;;
}
#navigation-Smart img {
	display: inline-block;
	line-height: 50px;
	margin-right:50px;
}
#menu-smartphone {
	background: #333;
	text-align: left;
	left: -999em;
}

#menu-smartphone li {
	float:right;
	width:30%;
	min-width:150px;
	background:#333;
	list-style:none;
	padding:10px 5%;
	margin-left:20%;
}
#menu-smartphone a {
	color:#FFF;
	margin-bottom:10px;
	 position:relative;
	 overflow:visible;
	 min-height:600px;

}

#menu-smartphone a:hover {
text-decoration:underline;
}
 
#navigation-Smart li:hover ul, #navigation-Smart li li:hover ul, #navigation-Smart li.sfhover ul, #navigation-Smart li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}
#navigation-Smart>li:hover {
	background:rgba(102,102,102,0.4);
}
#barrefixe ul {   
position:relative;
}
#tel {
font-size:35px;
position:absolute;
right:20px;
top:100px;
color:black;
}
#tel a {
	color:black;
}
#fax {
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 140px;
	text-align: right;
	color:black;
}		
img[title="logo sart Sorais"] {
float:left; 
margin-top:50px; 
margin-left:70px;
}
/*---------corps-----*/
.article {  
display:inline-block;
width:100%; 
margin-top:30px;
margin-bottom:10px;
position:relative;
overflow:visible;
min-height:750px;
}
.article div {
width:100%;
height:250px;
box-shadow:1px 1px 2px 1px gray;
border-radius:0;
}
h2 {
color:#FFF;
display:inline-block;
font-size:18px;
padding-left:5%;
margin-top:0;
width:95%;
height:35px;
line-height:38px;
}
.rubrique1 {
background-image:url(../images/spriteTablette.png);
background-repeat:no-repeat;
}
.rubrique2 {
background-image:url(../images/spriteTablette.png);
background-position:0px -250px;
background-repeat:no-repeat;
position:relative;
margin:0;
}
.rubrique3 {
background-image:url(../images/spriteTablette.png);
background-position:0px -500px;
background-repeat:no-repeat;
position:relative;
right:0;
}
.article .rubrique1:hover {
background-image:url(../images/spriteTablette.png);
background-position:-700px 0px;
}
.article .rubrique2:hover {
background-image:url(../images/spriteTablette.png);
background-position:-700px -250px;
}
.article .rubrique3:hover {
background-image:url(../images/spriteTablette.png);
background-position:-700px -500px;
}
.article a[href="iframe-definition.html"] {
	position:absolute;
	bottom:25px;
	right:10px;
	background-color:rgba(102,153,0,0.7);  
	text-align:center; 
	font-size:12px;
	width:100px;
	height:25px;
	line-height:25px;
	border-radius:80px;
	color:#FFF;
}
.article a[href="iframe-definition.html"]:hover {
	background:rgba(102,102,102,0.9);
}
<!------- page presentation--------->
.presentation {
display: inline-block;
width: 100%;
overflow: hidden;
padding-top: 10%;
margin-bottom: 10%;
background-color: #FFF;
position: relative;
}
.presentation div {
width:90%;
float:left;
}

.presentation div p {
font-size:14px;
}
.presentation div h5 {
font-size:20px;
color:#DA2513;
margin-bottom:10px;
}

.presentation img{
display:none;
}

.engagements {
font-size:16px;
width:90%;
position:relative;
bottom:0;
left:-0.5%;
background-color:#DA2513;
color:#FFF;
padding:5px 20px 5px 20px;
list-style:none;
margin-bottom:30px;
}

.engagements li:nth-child(1) { 
font-size:20px;
margin-bottom:10px;
}

<!------- page maisons neuves--------->
.neuf {  
display:block;
}
.text {
	width:100%;
	margin-bottom:20px;
}
.left-ribbon {
display: block;
position:relative;
top: 10px;
left: -20px;
width: 104%;
background:#C30;
box-shadow:1px 1px 1px 1px #(306,306,306,0.4);
}
.text ul {
	margin-left:20px;
}
.carousel {
	position: relative;
	float: left;
	width: 100%;
	max-width: 600px;
	top:0;
}
}
/**************************
* SMARTPHONE (PORTRAIT ET PAYSAGES)
**************************/
@media only screen
and (max-width: 480px) {
#container {
	width:100%;
}
#fax {
display:none;
}
#navigation-Smart img {
	display: inline-block;
	line-height: 50px;
	margin-right:20px;
	z-index:600;
}
img[title="logo sart Sorais"] {
	width:150px;
	padding:0;
	margin:50px auto 0 auto;
	float:none;
	position:relative;
	top:0;
	left:0;
	display:block;
}

#tel {
	font-size:30px;
	color:#79A614;
	margin-bottom:5%;
	text-align:center;
	clear:both;
	position:relative;
	top:0;
	left:0;
}
#menu-smartphone li {
	float:right;
	width:45%;
	min-width:150px;
	background:#333;
	list-style:none;
	padding:3% 5%;
}
.article{
	margin-top:60px;
}
.article div {
	width:95%;
	height:100px;
}
h2 {
color:#FFF;
display:inline-block;
font-size:18px;
padding-left:5%;
margin-top:0;
width:95%;
height:35px;
line-height:18px;
}
.rubrique2 br, .rubrique3 br{
	display:block;
	margin:0;
	padding:0;
}
.rubrique1 {
	background: #C30  url(../images/fleche.png) no-repeat 95%;
	padding-top:15px;
	color: #FFF;
	padding-left: 5%;
	border-bottom: thin dotted #FFF;
}

.rubrique2 {
	background: #630  url(../images/fleche.png) no-repeat 95%;
	padding-top:15px;
	color: #FFF;
	height: 5em;
	padding-left: 5%;
	border-bottom: thin dotted #FFF;
}

.rubrique3 {
	background: #79A614 url(../images/fleche.png) no-repeat 95%;
	padding-top:15px;
	color: #FFF;
	height: 5em;
	padding-left: 5%;
	border-bottom: thin dotted #FFF;
}
.article .rubrique1:hover, .article .rubrique2:hover, .article .rubrique3:hover{
background:rgba(102,102,102,0.7)  url(../images/fleche.png) no-repeat 95%;
}
.article a[href="iframe-definition.html"] {
	display:none;
}
.neuf, .renovation, .eco-construction {
	margin-top:60px;
}
.text h3 {
	padding-left:90px;
}
<!------- page presentation--------->
.presentation {
display:inline-block;
padding-top:2%;
padding-bottom:2%;
position:relative;
}

.presentation div {
width:90%;
padding:5% 5%;
float:left;
}

}